/* Estilos Gerais */
body {
    background: linear-gradient(179.61deg, #F5EBDC 64.82%, rgba(245, 235, 220, 0) 82.47%, #FFFFFF 97.72%);

}

/* Header */
.box-header {
    width: 100%;
    border-bottom: 2px solid rgba(214, 34, 0, 1) ;
}

.container {
    width: 1000px;
    height: 100px;
    border-radius: 2px solid red;
    display: flex;
    margin: 0 auto;
    justify-items: center;
}

.box-ul-logos {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


