@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


/* Corpo */
.corpo .imgbox { 
    margin: 41px 0;
}
.corpo .pedido {
    height: 96px;
    width: 333.5px;
    border-radius: 15px;
    background-color: #DB3B1D;
    font-size: 35px;
    color: #fff;
    margin: 42px 0 57px 0;
    font-family: 'Nunito', sans-serif;
}

.corpo .info {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

/* Rodape */
.boxRodape .imgrodape {
    margin-bottom: 46px;
}

