.corpo{
    width: 100%;
    max-width: 1332px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bandeiras {
    margin-bottom: 19px;
}

.eua{
    margin:0 39.2px;
}

/* Box para Acesso com CPF */
.acesso-cpf {
    width: 532px;
    height: 642px;
    border: 2px solid #502314;
    border-radius: 20px;
    background-color: rgba(217, 217, 217, 0);
    display: flex;
    align-items: center;
    flex-direction: column;     
}

.acesso-cpf .imgbox {
    margin: 32px 0 21px 0;
}

.acesso-cpf .cliente-bk {
    font-family: 'Nunito', sans-serif;
    margin-bottom: 5px;
    font-size: 26px;
}
.acesso-cpf .cliente-bk .clube-bk {
    color: rgba(80, 35, 20, 1)
}

.acesso-cpf .informe-cpf {
    font-family: 'Nunito';
    font-size: 12px;
    color: #502314;
    margin-bottom: 18px;
}

.acesso-cpf .digite-cpf {
    width: 292px;
    height: 67px;
    text-decoration: none;
    border: 1px solid rgba(80, 35, 20, 1);
    border-radius: 10px;
}
.acesso-cpf .botoes-cpf {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 170px;
    height: 206px;
    font-family: Nunito;
    margin-top: 18px;
}
.acesso-cpf .botoes-cpf .botao-n {
    height: 45px;
    width: 45px;
    margin-bottom: 8.4px;
    border: 2px solid rgba(80, 35, 20, 1);
    border-radius: 10px;
    font-size: 24px;
    font-weight: 400;   
    color: rgba(80, 35, 20, 1);
    background-color: #fff;
}

.acesso-cpf .botoes-cpf .botao-n .dif {
    padding-right: 18px;
}

.excluir {
    object-fit: scale-down;
}

.acesso-cpf .continue {
    margin: 29px 0 19px 0;
    width: 299px;
    height: 51px;
    padding: 11px 0;
    background-color: rgba(219, 59, 29, 1);
    border-radius: 10px;
    color: #fff;
    font-family: 'Nunito';
    font-size: 24px;
    margin-top: 18px;
}
.acesso-cpf .wo-indentify {
    margin-bottom: 52px;
    width: 299px;
    height: 51px;
    padding: 11px 0;
    border: 2px solid rgba(219, 59, 29, 1);
    border-radius: 10px;
    font-family: 'Nunito';
    font-size: 18px;
    color: rgba(219, 59, 29, 1);
    background-color: rgba(245, 235, 220, 1);
}

/* Rodape */
.boxRodape {
    width: 100%;
    height: 151px;
    margin-top: 47px;
    text-align: center;
    border-top: 2px solid #502314;
    background-color: rgba(255, 255, 255, 1);
}

.boxRodape .info {
    margin: 28px 0 18px 0;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
}